# /lib/systemd/system/lorawan-server.service

[Unit]
Description="LoRaWAN ChirpStack Server"
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=~/<WILL_BE_EDITED>
ExecStart=<WILL_BE_EDITED>
ExecStop=<WILL_BE_EDITED>
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target