# /etc/systemd/system/lorawan-gateway.service

[Unit]
Description="LoRaWAN Gateway"

[Service]
WorkingDirectory=~/<WILL_BE_EDITED>
ExecStart=<WILL_BE_EDITED>
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target